@font-face {
  font-family: 'Literata';
  src: url('/assets/fonts/Literata/Literata-Regular.woff2');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Literata';
  src: url('/assets/fonts/Literata/Literata-Medium.woff2');
  font-weight: 500;
  font-style: normal;
}